<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> !!!! Dashboard !!!! </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 50px;
        }

        h1 {
            color: #FF0000;
        }
    </style>
</head>
<body>
    <h1>YOUHOU !Tu es CONNECTEEEE MON FREROOOOW</h1>
    <p>DE RIEN FRERE.</p>
</body>
</html>
